{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
Flux Delete
{% endblock %}

{% block content %}
{% bootstrap_form_errors form %}
<br>
<form id="delete-flux-form">
    {% csrf_token %}

    {% bootstrap_form form layout=layout size=size %}

    {% bootstrap_button id="delete" button_type="submit" content="Delete" %}
</form>
<!-- Text area for displaying output -->
<div class="mt-3">
    <label for="output" class="form-label">Command Output</label>
    <textarea id="output" class="form-control" rows="10" readonly></textarea>
</div>

{% endblock %}

{% block bootstrap_javascript %}
<script>
    var loc = window.location;
    var wsStart = 'ws://';
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }
    const deleteFluxSocket = new WebSocket(
        wsStart
        + window.location.host
        + '/ws/fluxmgr/delete-flux/'
    );

    document.getElementById('delete-flux-form').addEventListener('submit', async function (event) {
        event.preventDefault();

        var formData = document.getElementById('delete-flux-form');
        var clusterValue = formData.elements['cluster'].value;

        deleteFluxSocket.send(JSON.stringify({
            'cluster': clusterValue
        }))
    });

    // Define buffer variables
    let messageBuffer = [];

    // Function to process buffered messages
    function processBuffer() {

        // Process each message in the buffer
        const stdout_text = document.querySelector('#output');

        while (messageBuffer.length > 0) {
            const message = messageBuffer.shift();
            const data = JSON.parse(message);
            stdout_text.value += (data.stdout);
        }

        stdout_text.scrollTop = stdout_text.scrollHeight;
    }

    // Event handler for incoming messages
    deleteFluxSocket.onmessage = function (e) {
        // Add message to the buffer
        messageBuffer.push(e.data);
    };

    setInterval(function () {
        if (messageBuffer.length > 0) {
            processBuffer();
        }
    }, 1000); // Process buffer every second

    deleteFluxSocket.onclose = function (e) {
        console.error('Delete flux socket closed unexpectedly');
    };
</script>
{% endblock %}