{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
Flux Install
{% endblock %}

{% block content %}
{% bootstrap_form_errors form %}
<br>
<form id="install-flux-form">
    {% csrf_token %}

    {% bootstrap_form form layout=layout size=size %}

    {% bootstrap_button id="install" button_type="submit" content="Install" %}
</form>
<!-- Text area for displaying output -->
<div class="mt-3">
    <label for="output-textarea" class="form-label">Installation Output</label>
    <textarea id="output-textarea" class="form-control" rows="10" readonly></textarea>
</div>

{% endblock %}

{% block bootstrap_javascript %}
<script>
    var loc = window.location;
    var wsStart = 'ws://';
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }
    const installFluxSocket = new WebSocket(
        wsStart
        + window.location.host
        + '/ws/fluxmgr/install-flux/'
    );

    document.getElementById('install-flux-form').addEventListener('submit', async function (event) {
        event.preventDefault();

        var formData = document.getElementById('install-flux-form');
        var versionValue = formData.elements['version'].value;
        var clusterValue = formData.elements['cluster'].value;

        installFluxSocket.send(JSON.stringify({
            'version': versionValue,
            'cluster': clusterValue
        }))
    });

    // Define buffer variables
    let messageBuffer = [];

    // Function to process buffered messages
    function processBuffer() {

        // Process each message in the buffer
        const stdout_text = document.querySelector('#output');

        while (messageBuffer.length > 0) {
            const message = messageBuffer.shift();
            const data = JSON.parse(message);
            stdout_text.value += (data.stdout);
        }

        stdout_text.scrollTop = stdout_text.scrollHeight;
    }

    // Event handler for incoming messages
    installFluxSocket.onmessage = function (e) {
        // Add message to the buffer
        messageBuffer.push(e.data);
    };

    setInterval(function () {
        if (messageBuffer.length > 0) {
            processBuffer();
        }
    }, 1000); // Process buffer every second

    installFluxSocket.onclose = function (e) {
        console.error('Install flux socket closed unexpectedly');
    };
</script>
{% endblock %}